
<!DOCTYPE html>
<html lang="en">
  <body>
    <div>
      <center>
      <table width="1500" border="1">



        <div id='map'></div>  <!--Column 1 -->
        <!--   <script type="text/javascript" src="./data/TWN_county.js"></script>  -->
        <script type="text/javascript" src="TaiwanSquare.js"></script> 
        <!--	var map = L.map('map').setView([25.0, 121.5],8); -->
        <script type="text/javascript" src="map_init.js"></script> 

      </table>
      </center>
    </div>
  </body>
</html>