
<!DOCTYPE html>
<html lang="en">

  <body>
      <!-- bottom assets board -->
				<!-- Bar_assets -->
				<div data-role="button" onclick="click_assets()" align="center" data-type="horizontal">
					<a style="line-height:29px;"><span id="showinfo" class="info_txt ui-icon-carat-u ui-btn-icon-left" data-inline="true">Assets3</span></a>
				</div>
        <div data-role="info_txt" data-position-fixed="true" data-display="overlay" data-theme="b" id="bar_land" style="display:none">
					<table id="tb_user_assets" border="1" style="line-height:25px;">
						<tr>
							<td>Location</td>
							<td>Valid</td>
							<td>Plant</td>
							<td>Warning</td>
							<td>Temp</td>
							<td>W%</td>
							<td>P%</td>
							<td>G%</td>
							<td>X%</td>
							<td>X</td>
						</tr>
					</table>
        </div>
  </body>
</html>