<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Earth Chicken</title>
		
		<!-- External CSS -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='basic.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mobile-1.4.5.css' />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.css">
		
		<style type="text/css">
			.img_full {
					width: 100%;
					height: 100%;
					object-fit: contain;
			}
      
      .flex{
        display:flex;
        align-items:center
      }
      
      .teacherpic{ 
        box-sizing:border-box;
        
        background-repeat:no-repeat;
        padding:150px;

      }
        
      .divs .imgs{
      	width: 15%;
        height: 15%;
        display: inline-block;
        vertical-align: middle;
        text-align : center;
        width:200px border-radius:50%;
      }
		</style>
		
		<!-- JavaScript --beg-- -->
			<script src="/javascripts/jquery-3.3.1.js"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="/javascripts/jquery-1.8.3.min.js"></script>
			<!--script src="/javascripts/jquery.mobile-1.4.5.js"></script-->
			<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.js"></script>
			<script src="common.js" async defer></script>
      <script src="farm.js" async defer></script>
      <script src="event_user.js" async defer></script>
			<script src="/javascripts/d3.js" async defer></script>

			<!-- google login button -->
			<meta name="google-signin-scope" content="profile email">
			<meta name="google-signin-client_id" content="795354931669-g57mp7k3fb52u9vk1mscp78unk19sied.apps.googleusercontent.com">
	  		<script src="/javascripts/google_login.js"></script>
	  		<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

			<script type="text/javascript">
			
			$(document).ready(function()
			{
				console.log("web initial");

			});

            function web_onload(){
                if_gameStart(function (status,remain_time) {
                    if (status) {
                        setTimeout(function () {
                            window.location.href = "/finish";
                        },remain_time*1000);
                    }
                })
            }


            </script>
		<!-- JavaScript --end-- -->
  </head>

  <body onload="web_onload()">
    <div data-role="page" id="farm" data-theme="a" data-transition="none">
      <!-- Header -->
      <div data-role="header">
        <div data-role="controlgroup">
        <a href="#/game" data-role="button" data-inline="true" data-icon="back" style="float:left">Dash Board</a>
        <center><img src="images/chicken.jpg" alt="img__map_china" class='img_logo' style="display:inline;">
				<label id="topic" class='title' style="display:inline; line-height:30px; font-weight:bolder;" >Earth Chicken</label>
        <!--a href="#/" data-role="button" data-inline="true" data-icon="mail">Mail</a-->
        <a href="#/" data-role="button" data-inline="true" data-icon="home" style="float:right">Home</a>
        </div>
      </div>
			
			<!-- Hiding variable element-->
      <div style="display:none">
      <input type="text" id="event_tp" name="" value="-1">
      <input type="text" id="plant_tp" name="" value="-1">
      <input type="text" id="fer_tp" name="" value="-1">
      </div>
      
      
      
      <!-- Right-Bar 1-->
			<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" style="width:40%" id="plant_tp_panel" data-position="right">
				<ul data-role="listview">
          <h2 style="margin:10; text-align:center;">Plant</h2>
					<li ui-icon="carat-l"><a onClick="sel_plant_tp(this.id)" id="plant_1">plant_tp1</a></li>
          <li ui-icon="carat-l"><a onClick="sel_plant_tp(this.id)" id="plant_2">plant_tp2</a></li>
          <li ui-icon="carat-l"><a onClick="sel_plant_tp(this.id)" id="plant_3">plant_tp3</a></li>
          <li ui-icon="carat-l"><a onClick="sel_plant_tp(this.id)" id="plant_4">plant_tp4</a></li>
          <li ui-icon="carat-l"><a onClick="sel_plant_tp(this.id)" id="plant_5">plant_tp5</a></li>
          <span id="add_menu" class="ui-list"></span>
				</ul>
			</div>
      
			<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" style="width:40%" id="fer_tp_panel" data-position="right">
				<ul data-role="listview" >
          <h2 style="margin:10; text-align:center;">Fertilize</h2>
					<li ui-icon="carat-l"><a onClick="sel_fer_tp(this.id)" id="fer_1">fer_tp1</a></li>
          <li ui-icon="carat-l"><a onClick="sel_fer_tp(this.id)" id="fer_2">fer_tp2</a></li>
          <li ui-icon="carat-l"><a onClick="sel_fer_tp(this.id)" id="fer_3">fer_tp3</a></li>
          <li ui-icon="carat-l"><a onClick="sel_fer_tp(this.id)" id="fer_4">fer_tp4</a></li>
          <li ui-icon="carat-l"><a onClick="sel_fer_tp(this.id)" id="fer_5">fer_tp5</a></li>
          <span id="add_menu" class="ui-list"></span>
				</ul>
			</div>
      

      
      <!-- Right-Bar 2-->
			<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" style="width:35%" id="descr_panel" data-position="right">
        <div><img id="descr_panel_img" src="images/unknown-513.png" alt="detail" class=''></div>
        <p align="center" style="position:relative; border-top:1px solid #CCCCCC">
        <h2 style="margin:12;" id="descr_panel_title">type</h2>
          <p id="descr_panel_detail">descriptions ...</p>
        <h3 style="margin:10;" id="descr_panel_benefit">Benefit</h3>
          <p id="benefit">descriptions ...</p>
        <h3 style="margin:10;" id="descr_panel_cost">Cobon cost</h3>
          <p id="cobon_cost">descriptions ...</p>
        <p align="center" style="position:relative; border-top:1px solid #CCCCCC">
          <a href="#pagehome" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" onClick="confirm_form()" id="form">Confirm</a>
          <a href="#pagehome" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" id="buy_land_cancel">Cancel</a>
        </p>
			</div>
      
      
			
      <div class="flex">
        <div class="teacherpic"><img id="main_pic" src="images/unknown-513.png" alt="img__map_china" class=''></div>
        <div>
          <h2>Location</h2>
            <p>descriptions ...</p>
          <h2>Temporature</h2>
            <p>descriptions ...</p>
          <h2>Dry</h2>
            <p>descriptions ...</p>
        </div>
      </div>

      <div class="flex">
        <div>
          <h2>Location</h2>
            <p>descriptions ...</p>
          <h2>Temporature</h2>
            <p>descriptions ...</p>
          <h2>Name: <%= name %> </h2>
            <p>Back to Dash Board ...</p>
        </div>
        <div class="teacherpic"><img id="main_pic" src="images/unknown-513.png" alt="img__map_china"></div>
      </div>


      <!-- bottom assets board -->
			<div data-role="footer" data-position="fixed" data-fullscreen="false" data-theme="a">
        <div class="divs">
          <div class="imgs"><img class='img_auto' onmouseover="hover_farmEvtImg(this)" onmouseout="unhover_farmEvtImg(this)" onClick="user_evt(this.id)" id="evt_plant" src="images/act_0plant.png"><pre>Plant</pre></div>
          <div class="imgs"><img class='img_auto' onmouseover="hover_farmEvtImg(this)" onmouseout="unhover_farmEvtImg(this)" onClick="user_evt(this.id)" id="evt_irrigate" src="images/act_1irr.png"><pre>Irrigate</pre></div>
          <div class="imgs"><img class='img_auto' onmouseover="hover_farmEvtImg(this)" onmouseout="unhover_farmEvtImg(this)" onClick="user_evt(this.id)" id="evt_fertilize" src="images/act_2fer.png"><pre>Fertilize</pre></div>
          <div class="imgs"><img class='img_auto' onmouseover="hover_farmEvtImg(this)" onmouseout="unhover_farmEvtImg(this)" onClick="user_evt(this.id)" id="" src="images/act_3byland.png"><pre>Buy Land</pre></div>
          <div class="imgs"><img class='img_auto' onmouseover="hover_farmEvtImg(this)" onmouseout="unhover_farmEvtImg(this)" onClick="user_evt(this.id)" id="evt_harvest" src="images/act_4harv.png"><pre>Harvest</pre></div>
				</div>
      </div>

		</div>
  </body>

</html>
