<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Earth Chicken</title>
		
		<!-- External CSS -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='basic.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mobile-1.4.5.css' />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.css">
		
		<style type="text/css">
			.img_full {
					width: 100%;
					height: 100%;
					object-fit: contain;
			}

			.portrait {
					height: 100%;
					width: 100%;
			}
		</style>
		
		<!-- JavaScript --beg-- -->
			<script src="/javascripts/jquery-3.3.1.js"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="/javascripts/jquery-1.8.3.min.js"></script>
			<!--script src="/javascripts/jquery.mobile-1.4.5.js"></script-->
			<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.js"></script>
			<script src="common.js" async defer></script>
      <script src="event_user.js" async defer></script>
			<script src="/javascripts/d3.js" async defer></script>
      
			<!-- google login button -->
			<meta name="google-signin-scope" content="profile email">
			<meta name="google-signin-client_id" content="795354931669-g57mp7k3fb52u9vk1mscp78unk19sied.apps.googleusercontent.com">
	  		<script src="/javascripts/google_login.js"></script>
	  		<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

			<script type="text/javascript">
			
      function web_onload(){
        setTimeout(function(){
          $("#pop_start").popup("open");
        }, 5000);
      }
      
			$(document).ready(function()
			{
				console.log("web initial");
        
			});
      
			</script>
		<!-- JavaScript --end-- -->
  </head>

  <body onload="web_onload()">
    <div data-role="page" id="pagehome" data-theme="a" data-transition="none">
      <!-- Header -->
      <div data-role="header">
        <div data-role="controlgroup">
        <a href="#nav_panel" data-role="button" data-inline="true" data-icon="bars" style="float:left">Start</a>
        <a href="#/introduce" data-role="button" data-inline="true" data-icon="eye" style="float:left">Introduce</a>
        <center><img src="images/chicken.jpg" alt="chicken" class='img_logo' style="display:inline;">
				<label id="topic" class='title' style="display:inline; line-height:30px; font-weight:bolder;" >Earth Chicken</label>
        <!--a href="#/" data-role="button" data-inline="true" data-icon="mail">Mail</a-->
        <a href="#/" data-role="button" data-inline="true" data-icon="home" style="float:right">Home</a>
        <a href="#/about" data-role="button" data-inline="true" data-icon="carat-d" style="float:right">About</a>
        </div>
      </div>
			
			<!-- Left-Bar -->
			<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" style="width:200px" id="nav_panel">
				<ul data-role="listview" >
					<li data-icon="delete"><a href="#" id="dash_close">Close</a></li>
					<!--li data-icon="" id="dash_assets" onClick="click_assets()" ><a>Assets</a></li-->
          <li data-icon="carat-r" id="assets" onClick="click_assets();"><a href="#">Assets</a></li>
					<li data-icon="carat-r" id="others"><a>Others</a></li>
          <li data-icon="carat-r" id="evt_test"><a href="#desc_map">Events Test</a></li>
					<li data-icon="carat-r" id="sign_out"><a onclick="signOut();">Sign out</a></li>
					<!--li data-icon="carat-r" id="sign_out">
						<a href="#sel_location" data-rel="popup"  data-position-to="window">Select Map</a>
					</li-->
					<span id="add_menu" class="ui-list"></span>
				</ul>
			</div>
			
      <div data-role="popup" id="pop_start" data-overlay-theme="b" style="min-width:300px;">
				<div data-role="header">
					<a href="#pagehome" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
					<h1 style="margin:0;">Click picture to start</h1>
				</div>
        <div id="game_start"><img id="main_pic" src="images/start.jpg" alt="img__start" class='img_full' onClick="game_start()"></div>
      </div>

			<!--div data-role="popup" id="sel_location" data-overlay-theme="b" style="min-width:300px;">
				<div data-role="header">
					<a href="#pagehome" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
					<h1 style="margin:0;"></h1>
				</div>

				<div role="main" class="ui-content" >
					<div align="center" style="margin-left:auto; margin-right:auto; ">
						<div class="hdmicec_txt" style="margin-left:auto;">
							<label id="map_location">Location</label>
						</div>
						<div id="hidenssid">
							<fieldset>
								<a>location description ...</a>
							</fieldset>
						</div>
					</div>
					<div id="psk_warn_txt" class="warn_txt"></div> 
				</div>
        
				<p align="center" style="border-top:1px solid #CCCCCC">
					<a href="#pagehome" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" id="buy_land">Buy</a>
					<a href="#pagehome" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" id="buy_land_cancel">Cancel</a>
				</p>
			</div-->
			
			
			<!-- main_page -->
			<div id="list_load" role="main" class="ui-content" style="display:block">
				<div id="pagecontainer"><img id="main_pic" src="images/map_china.jpg" alt="img__map_china" class='img_full'></div>
			</div>
			
			<!-- dashboard -->
      <div>
        <h3>Welcome to Earth Chicken, <%= name %>>
          <a href="javascript:void(0);" onclick="signOut();">Sign out</a>
        </h3>

        <a href="#/farm">Call farm</a>
        <button id = "call_map" type = "button" class = "btn1" onClick="call_map();">Call map</button>
      </div>

			<a href="/logout" onClick="signOut();">Sign out</a>
      
      <!-- Right-Bar -->
      <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="desc_map" data-position="right">

        <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
          <h2 style="margin:10;">Map Introduction</h2>
          <div data-role="collapsible">
        ????<h3>climate</h3>
            <p>I'm the collapsible content for section 1</p>
          </div>
      ????<div data-role="collapsible">
    ????????<h3>suggest plant type</h3>
        ????<p>I'm the collapsible content for section 2</p>
      ????</div>
      ????<div data-role="collapsible">
    ????	  <h3>Cost</h3>
        ????<p>I'm the collapsible content for section 3</p>
      ????</div>
        </div>

        <p align="center" style="position:relative; border-top:1px solid #CCCCCC">
          <a href="#pagehome" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" onClick="buy_land()" id="buy_land">Buy</a>
          <a href="#pagehome" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" id="buy_land_cancel">Cancel</a>
        </p>
      </div>

			
      <!-- bottom assets board -->
			<div data-role="footer" data-position="fixed" data-fullscreen="false">
				<div id="pagecontainer2"></div>
				<div id="111">
				<!-- Bar_assets -->
				<div data-role="button" onclick="click_assets()" align="center" data-type="horizontal">
					<a style="line-height:29px;"><span id="showinfo" class="info_txt ui-icon-carat-u ui-btn-icon-left color_red" data-inline="true"><%= name %>'s Assets</span></a>
				</div>
        <div data-role="info_txt" data-position-fixed="true" data-display="overlay" data-theme="b" id="bar_land" style="display:none">
					<table id="tb_user_assets" border="1" style="line-height:25px;">
						<tr>
							<td>Location</td>
							<td>Valid</td>
							<td>Plant</td>
							<td>Warning</td>
							<td>Temp</td>
							<td>W%</td>
							<td>P%</td>
							<td>G%</td>
							<td>X%</td>
							<td>X</td>
						</tr>
					</table>
        </div>
      </div> 
			</div> 
		</div>
  </body>

</html>
