<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Earth Chicken</title>
		
		<!-- External CSS -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='basic.css' />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.css">
		
		<style type="text/css">
			.img_full {
					width: 100%;
					height: 100%;
					object-fit: contain;
			}

			.portrait {
					height: 100%;
					width: 100%;
			}
		</style>
		
		<!-- JavaScript --beg-- -->
			<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.js"></script>
			<script src="common.js" async defer></script>
      <script src="event_user.js" async defer></script>
			
			<!-- google login button -->
			<meta name="google-signin-scope" content="profile email">
			<meta name="google-signin-client_id" content="795354931669-g57mp7k3fb52u9vk1mscp78unk19sied.apps.googleusercontent.com">
	  		<script src="/javascripts/google_login.js"></script>
	  		<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

			<script type="text/javascript">
			
			$(document).ready(function()
			{
				console.log("web initial");
				var host_addr = window.location.hostname;
				var port = window.location.port;
				console.log("host = "+host_addr);
				console.log("port = "+port);
				
			});
      
			</script>
		<!-- JavaScript --end-- -->
  </head>

  <body>
    <div data-role="page" id="pagehome" data-theme="a" data-transition="none">
      <!-- Header -->
      <div data-role="header">
        <div data-role="controlgroup">
        <a href="#nav_panel" data-role="button" data-inline="true" data-icon="bars" style="float: left">Start</a>
        <a href="#/introduce" data-role="button" data-inline="true" data-icon="eye" style="float: left">Introduce</a>
        <center><h1 id="topic" style="display:inline;" >Earth Chicken</h1>
        <a href="#/about" data-role="button" data-inline="true" data-icon="carat-d" style="float: right">About</a>
        <!--a href="#/" data-role="button" data-inline="true" data-icon="mail">Mail</a-->
        <a href="#/" data-role="button" data-inline="true" data-icon="home" style="float: right">Home</a>
        </div>
      </div>
			
			<!-- Left-Bar -->
			<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="nav_panel">
				<ul data-role="listview" >
					<li data-icon="delete"><a href="#" data-rel="close" id="dash_close">Close</a></li>
					<!--li data-icon="" id="dash_assets" onClick="click_assets()" ><a>Assets</a></li-->
          <li data-icon="carat-r" id="assets" onClick="click_assets();"><a href="#" data-rel="close">Assets</a></li>
					<li data-icon="carat-r" id="others"><a>Others</a></li>
          <li data-icon="carat-r" id="evt_test"><a href="#bar_event">Events Test</a></li>
					<span id="add_menu" class="ui-list"></span>
				</ul>
			</div>
			
      <!-- main_page -->
			<div id="list_load" role="main" class="ui-content" style="display:block">
				<div id="main_pic"><img src="images/map_china.jpg" alt="img__map_china" class='img_full'></div>
			</div>


      

      

      
      <!-- Bar_event -->
      <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="bar_event" data-position="right">
        <ul data-role="listview" >
          <li><div data-role="button" onClick="evt_buy_land();" id="evt_buy_land"><a>Buy Land</a></div></li>
          <li><div data-role="button" onClick="evt_plant();" id="evt_plant"><a>種植</a></div>       </li>
          <li><div data-role="button" onClick="evt_irrigate();" id="evt_irrigate"><a>灌溉</a></div>    </li>
          <li><div data-role="button" onClick="evt_fertilize();" id="evt_fertilize"><a>施肥</a></div>   </li>
          <li><div data-role="button" onClick="evt_debug();" id="evt_debug"><a>除蟲</a></div>       </li>
          <li><div data-role="button" onClick="evt_greenhouse();" id="evt_greenhouse"><a>溫室</a></div>  </li>
          <li><div data-role="button" onClick="evt_harvest();" id="evt_harvest"><a>收割變賣</a></div> </li>
          
        </ul>
      </div>

      <a href="/logout" onClick="signOut();">Sign out</a>

      <div data-role="footer">
        <!-- Bar_assets -->
        <div data-role="controlgroup" data-position-fixed="true" data-display="overlay" data-theme="b" id="bar_land" style="display:none">
          <table border="1">
            <tr>
              <td>Location</td>
              <td>Valid</td>
              <td>Plant</td>
              <td>W %</td>
              <td>F %</td>
              <td>G %</td>
              <td>H %</td>
            </tr>
          </table>
          </ul>
        </div>
      </div> 

		</div>

  </body>

</html>
