<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Earth Chicken</title>
		
		<!-- External CSS -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.css">
		
		<!-- JavaScript --beg-- -->
			<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.js"></script>
			<script src="/javascripts/google_login.js"></script>
			
			<!-- google login button -->
			<meta name="google-signin-scope" content="profile email">
			<meta name="google-signin-client_id" content="795354931669-g57mp7k3fb52u9vk1mscp78unk19sied.apps.googleusercontent.com">
			<script src="https://apis.google.com/js/platform.js" async defer></script>

			<script type="text/javascript">
			
			$(document).ready(function()
			{
				console.log("web initial");
				var host_addr = window.location.hostname;
				var port = window.location.port;
				console.log("host = "+host_addr);
				console.log("port = "+port);
				
			});
			 
			</script>
		<!-- JavaScript --end-- -->
  </head>

  <body>
    <!--h1>Earth Chicken</h1-->
    <!--p>Welcome to Earth Chicken</p-->

    <div data-role="page" id="pagehome" data-theme="a" data-transition="none">      
			<div data-role="header" data-position="fixed">
				<h1 id="topic"  style="margin:0;margin-left:40px; margin-right:100px;">Earth Chicken</h1>
				
				<a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
				<span  id="log_txt" style="position:absolute; top:13px; right:42px; font-weight:normal; font-size:80%;"></span>
			
			</div><!-- /header -->
			
			<!-- Left-Bar -->
			<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="nav-panel">
				<ul data-role="listview" >
					<li data-icon="delete"><a href="#" data-rel="close" id="menu_close">Close menu</a></li>
					<li data-icon=""><a href="#/introduce" id="menu_introduce">Introduce</a></li>
					<li data-icon=""><a href="#/" id="menu_game">Play $C</a></li>
					<li data-icon=""><a href="#/about" id="menu_about">About us</a></li>
					
					<span id="add_menu" class="ui-list"></span>
				</ul>
			</div><!-- /panel -->
			
			<div id="list_load" role="main" class="ui-content" style="display:block">
				<div id="main_pic"><img src="images/map_china.jpg" alt="img__map_china"></div>
				
				
			</div>
			

			

		</div>

  </body>

</html>
