<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Earth Chicken</title>
		
		<!-- External CSS -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='basic.css' />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.css">
		
		<style type="text/css">
			.img_full {
					width: 100%;
					height: 100%;
					object-fit: contain;
			}

			.portrait {
					height: 100%;
					width: 100%;
			}
		</style>
		
		<!-- JavaScript --beg-- -->
			<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.js"></script>
			<script src="common.js" async defer></script>
      <script src="event_user.js" async defer></script>
			<script src="/javascripts/d3.js" async defer></script>
      
			<!-- google login button -->
			<meta name="google-signin-scope" content="profile email">
			<meta name="google-signin-client_id" content="795354931669-g57mp7k3fb52u9vk1mscp78unk19sied.apps.googleusercontent.com">
	  		<script src="/javascripts/google_login.js"></script>
	  		<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

			<script type="text/javascript">
			
			$(document).ready(function()
			{
				console.log("web initial");
				var host_addr = window.location.hostname;
				var port = window.location.port;
				console.log("host = "+host_addr);
				console.log("port = "+port);
				
			});
      
			</script>
		<!-- JavaScript --end-- -->
  </head>

  <body>
    <div data-role="page" id="pagehome" data-theme="a" data-transition="none">
      <!-- Header -->
      <div data-role="header">
        <div data-role="controlgroup">
        <a href="#nav_panel" data-role="button" data-inline="true" data-icon="bars" style="float: left">Start</a>
        <a href="#/introduce" data-role="button" data-inline="true" data-icon="eye" style="float: left">Introduce</a>
        <center><h1 id="topic" style="display:inline;" >Earth Chicken</h1>
        <a href="#/about" data-role="button" data-inline="true" data-icon="carat-d" style="float: right">About</a>
        <!--a href="#/" data-role="button" data-inline="true" data-icon="mail">Mail</a-->
        <a href="#/" data-role="button" data-inline="true" data-icon="home" style="float: right">Home</a>
        </div>
      </div>
			
			<!-- Left-Bar -->
			<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" style="width:200px" id="nav_panel">
				<ul data-role="listview" >
					<li data-icon="delete"><a href="#" data-rel="close" id="dash_close">Close</a></li>
					<!--li data-icon="" id="dash_assets" onClick="click_assets()" ><a>Assets</a></li-->
          <li data-icon="carat-r" id="assets" onClick="click_assets();"><a href="#" data-rel="close">Assets</a></li>
					<li data-icon="carat-r" id="others"><a>Others</a></li>
          <li data-icon="carat-r" id="evt_test"><a href="#bar_event">Events Test</a></li>
					<span id="add_menu" class="ui-list"></span>
				</ul>
			</div>
			
      <!-- main_page -->
			<div id="list_load" role="main" class="ui-content" style="display:block">
				<div id="main_pic"><img src="images/map_china.jpg" alt="img__map_china" class='img_full'></div>
			</div>
      
			<!-- dashboard -->
      <div>
        <h3>Welcome to Earth Chicken, <%= name %>>
          <a href="javascript:void(0);" onclick="signOut();">Sign out</a>
        </h3>

        <p><b>Google ID: </b>resp.id</p>
        <p><b>Name: </b>resp.name</p>

			<div class="btn-group" style="margin-top:1em;" align="center">
				<button id = "add_100d" type = "button" class = "btn1" onCLick="evt_buy_land();">buy land</button>
				<button id = "add_100c" type = "button" class = "btn1">add_100c</button>
				<button id = "convert_100d_to_1c" type = "button" class = "btn1">100d_to_1c</button>
				<button id = "zero" type = "button" class = "btn1"> zero</button>
			</div>

        <div class="btn-group" style="margin-top:1em;" align="center">
          <button id = "add_100d" type = "button" class = "btn1">add_100d</button>
          <button id = "add_100c" type = "button" class = "btn1">add_100c</button>
          <button id = "convert_100d_to_1c" type = "button" class = "btn1">100d_to_1c</button>
          <button id = "zero" type = "button" class = "btn1">?zero</button>
        </div>
      </div>

			<a href="/logout" onClick="signOut();">Sign out</a>
      
      <!-- Bar_event -->
      <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="bar_event" data-position="right">
        <ul data-role="listview" >
          <li><div data-role="button" onClick="user_evt(this.id);" id="evt_buy_land"><a>Buy Land</a></div></li>
          <li><div data-role="button" onClick="user_evt(this.id);" id="evt_plant"><a>蝔格?</a></div>       </li>
          <li><div data-role="button" onClick="user_evt(this.id);" id="evt_irrigate"><a>??</a></div>    </li>
          <li><div data-role="button" onClick="user_evt(this.id);" id="evt_fertilize"><a>?質</a></div>   </li>
          <li><div data-role="button" onClick="user_evt(this.id);" id="evt_debug"><a>?方</a></div>       </li>
          <li><div data-role="button" onClick="user_evt(this.id);" id="evt_greenhouse"><a>皞怠恕</a></div>  </li>
          <li><div data-role="button" onClick="user_evt(this.id);" id="evt_harvest"><a>?嗅霈都</a></div> </li>          
        </ul>
      </div>

      <!-- bottom assets board -->
      <div data-role="footer" data-position="fixed" data-fullscreen="false">
        <!-- Bar_assets -->
        <div id="showinfo" onclick="click_assets()" align="center" style="height:30px; width:50%; border: 0px solid #26D6FE; margin:0 auto;">
          <div id="info_title" class="info_txt" data-icon="carat-u" style="line-height:29px;">Assets</div>
        </div>
        <div data-role="info_txt" data-position-fixed="true" data-display="overlay" data-theme="b" id="bar_land" style="display:none">
					<table id="tb_user_assets" border="1" style="line-height:25px;">
						<tr>
							<td>Location</td>
							<td>Valid</td>
							<td>Plant</td>
							<td>Warning</td>
							<td>Temp</td>
							<td>W%</td>
							<td>P%</td>
							<td>G%</td>
							<td>X%</td>
							<td>X</td>
						</tr>
					</table>
        </div>
      </div> 

		</div>
  </body>

</html>
