<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><%= title %></title>
		
		<!-- External CSS -->
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='basic.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.mobile-1.4.5.css' />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.css">
		
		
		<!-- JavaScript --beg-- -->
      <script src="/javascripts/jquery-1.8.3.min.js"></script>
      <!--script src="/javascripts/jquery.mobile-1.4.5.js"></script-->
			<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.js"></script>
			<script src="/javascripts/google_login.js"></script>
			<script src="common.js" async defer></script>
			
			<!-- google login button -->
			<meta name="google-signin-scope" content="profile email">
			<meta name="google-signin-client_id" content="795354931669-g57mp7k3fb52u9vk1mscp78unk19sied.apps.googleusercontent.com">
			<script src="https://apis.google.com/js/platform.js" async defer></script>

			<script type="text/javascript">
			
			$(document).ready(function()
			{
				console.log("web initial");
			});
			
			</script>
		<!-- JavaScript --end-- -->
  </head>

  <body>
    <div data-role="page" id="pagehome" data-theme="a" data-transition="none">
      <div data-role="header">
        <div data-role="controlgroup">
        <a href="#nav_panel" data-role="button" data-inline="true" data-icon="bars" style="float:left">Start</a>
        <a href="#/introduce" data-role="button" data-inline="true" data-icon="eye" style="float:left">Introduce</a>
        <center><img src="images/chicken.jpg" alt="chicken" class='img_logo' style="display:inline;">
				<label id="topic" class='title' style="display:inline; line-height:30px; font-weight:bolder;" >Earth Chicken</label>
        <!--a href="#/" data-role="button" data-inline="true" data-icon="mail">Mail</a-->
        <a href="#/" data-role="button" data-inline="true" data-icon="home" style="float:right">Home</a>
        <a href="#/about" data-role="button" data-inline="true" data-icon="carat-d" style="float:right">About</a>
        </div>
      </div>
			
			<!-- Left-Bar -->
			<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="nav_panel">
				<ul data-role="listview" >
					<li data-icon="delete"><a href="#" data-rel="close" id="menu_close">Close menu</a></li>
          <li data-icon=""><div id="gSignIn" class="g-signin2" data-onsuccess="onSuccess" data-theme="dark"></div></li>
					
					<span id="add_menu" class="ui-list"></span>
				</ul>
			</div>
			
			<!-- /panel -->
			<!--div id="list_load" role="main" class="ui-content" style="display:block">
				<ul data-role="listview" data-inset="true" style="-webkit-border-radius:0.1px;border-radius:0.1px; margin-top:0px;">
					<li id="introduce_topic"> <a href="" target="_self" > <h1 id="txt_item_spirit">Topic Introduce</h1><span id="item_introduce_topic"></span></a></li>
          <li id="introduce_data"> <a href="" target="_self" > <h1 id="txt_item_spirit">Data Introduce</h1><span id="item_introduce_data"></span></a></li>
          <li id="introduce_game"> <a href="" target="_self" > <h1 id="txt_item_member">Game Introduce</h1><span id="item_introduce_game"></span></a></li>
					<!--li id="pass_sel"> <a href="#Password" data-rel="popup" data-position-to="window"> <h1 id="password_txt">WIFI Password</h1><span id="app_sk"></span></a></li-->
          
				<!--/ul>
			</div-->
      
			<div data-role="header"><h2>Project Introduce</h2></div>
			<div data-role="collapsibleset" data-theme="a" data-content-theme="a">
				<div data-role="collapsible">
			    <h3>Carbon Game Introduce</h3>
			    <div data-role="collapsible">
		        <h3>Introduction</h3>
				    <p>Carbon is the foundation for food, structure, and life on Earth. One major constituent of carbon, carbon dioxide, is the air we respire and the air we produce through burning fossil fuel. In recent decades, carbon dioxide is the major factor to this changing environment. Many scientific reports show the high level of CO2 we have now is less likely caused by natural events but by anthropogenic ones. One reason is because the level has far exceeded that of ancient records in the last 8 million years. In order to reduce CO2 in the air, many movement and methods have been provided. One of them is carbon trade. Carbon trade is to give a price to activities and compensate with products that can reduce carbon dioxide (amount of the emitted carbon dioxide through activities is also defined as “carbon footprint”). However, pricing on activities or products can potentially fall into the fallacy in producing more carbon if the pricing market becomes unfair. Inspired by Sustainable Development Goals (SDGs) #15 Life on Land, we want to value the nature of terrestrial region in distinction to our present currency system. We construct a new value system, Carbon coin currency, to match with the goal.</p>
            <p>In an effort to highlight the importance of plants for carbon fixation and the feedback some cultivation activities may cause to the environment, we design Earth Chicken (as interesting farming in mandrain) game and introduce currencies for carbon (Carboin, $C) and economical trading (capital profits, $P). We estimate the impact of the above activities with carbon budget partly on several scientific reports. Two scientific models are: one tights together growth of crops with its consumption for water and nutrients (GAEZ) and another model provides a larger view on ecosystems and show tree's dependency on environment (ORCHIDEE). Many environmental factors constrain plant growth, such as temperature, water, light, and nutrients. We know that natural ecosystem provides various environments for diverse plants and animals, such as ecoregions. When you log onto the current view of the modern Earth, you will see information extracted and modeled from satellites of NASA (GLDAS-NOAH025). You will begin to observe how different it can be within a few years! Now, you are on a mission to earn profits on both sides while reducing the environmental stress across these years. Will Carboin a solution to a sustainable Earth?</p>
			    </div>
			    <div data-role="collapsible">
		        <h3>THE CHALLENGE</h3>
				    <p>Your challenge is to develop creative solutions that use Earth observations to address the United Nations’ Sustainable Development Goals and foster sustainable development worldwide. Use NASA and other Earth observing satellites’ data as well as information generated by crowd-sourcing and in-situ measurements to create practical applications that support environmental and societal policy across water, health, food security and/or land use domains.</p>
			    </div>
				</div>
        
		    <div data-role="collapsible">
	    	<h3>Datasets</h3>
			    <p>FAO of UN: Global Agro‐Ecological Zones (GAEZ v3.0): the parameters used in maize is in Appendix 73</p>
          <a href="https://disc.gsfc.nasa.gov/datasets/GLDAS_NOAH025_M_2.1/summary?keywords=GLDAS">NASA GLDAS Version 2 Data Products</a><br>
          <a href="https://www.fs.fed.us/rm/ecoregions/products/map-ecoregions-continents/">Ecoregions of the world (published by Bailey 1989)</a><br>
		    </div>
    
		    <div data-role="collapsible">
	    	<h3>Plants in the Carboin system</h3>
			    <p>Cedar (i.e. Calocedrus formosensis): a type of softwood commonly found in temperate regions</p>
			    <p>Acasia (i.e. Acacia confusa): a type of hardwood commonly found in tropical and subtropical regions</p>
			    <p>Rice (i.e. Oryza sativa subsp. japonica): second largest produce of staple food of the world</p>
			    <p>Meize (i.e. Zea mays): the most consumed crop of the world as it is adaptive to various climate</p>
			    <p>Wheat (i.e. Triticum aeostivum): grow under temperate climate and widely distribute to the rest of the world</p>
		    </div>
    
		    <div data-role="collapsible">
	    	<h3>References</h3>
			    <p>Vuichard, N., Messina, P., Luyssaert, S., Guenet, B., Zaehle, S., Ghattas, J., Bastrikov, V., and Peylin, P. 2018 Accounting for Carbon and Nitrogen interactions in the Global Terrestrial Ecosystem Model ORCHIDEE (trunk version, rev 4999): multi-scale evaluation of gross primary production, Geosci. Model Dev. Discuss., https://doi.org/10.5194/gmd-2018-261, in review.</p>
          <p>Fischer, Günther & Nachtergaele, F. & Prieler, Sylvia & Teixeira, Edmar & Toth, Geza & Velthuizen, Harrij & Verelst, Luc & Wiberg, David. 2012 Global Agro‐Ecological Zones (GAEZ v3.0) - Model Documentation.</p>
		    </div>
			</div>
			
			
			<!--div role="main" class="ui-content" style="display:block">
				<button type="button" id="set1" data-icon="carat-d" class="collapsible" onClick="collap(this.id)">Topic Introduce</button>
					<div class="content" style="display:none">
					<h3>title</h3>
					<p>detail</p>
					</div>
				<button type="button" id="set2" data-icon="carat-d" class="collapsible" onClick="collap(this.id)">Data Introduce</button>
					<div class="content" style="display:none">
						<h3>title</h3>
						<p>detail</p>
					</div>
				<button type="button" id="set3" data-icon="carat-d" class="collapsible" onClick="collap(this.id)">Game Introduce</button>
					<div class="content" style="display:none">
						<h3>title</h3>
						<p>detail</p>
					</div>
			</div-->


			<!--div data-role="footer" data-position="fixed" data-fullscreen="false" data-theme="b">
				<div data-role="button" onclick="" align="center" data-type="horizontal">
					<a style="line-height:12px;"><span id="showinfo" class="info_txt" data-inline="true">pictures</span></a>
				</div>
				
        <div data-type="horizontal">
					<button id="pic_last" data-icon="carat-l" data-inline="true" onClick="play(this.id)"></button>
					<img src="images/chicken.jpg" alt="Avatar" data-inline="true" class="img_center_50" style="display:inline;">
					<button id="pic_next" data-icon="carat-r" data-inline="true" onClick="play(this.id)"></button>
        </div>
      </div-->
			
		</div>
  </body>

</html>









