body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.my_color {
	color: red;
	
}

.button_inline{
  font-family: Arial, Helvetica;
  font-size: 16px;
  padding: 10px;
  background: #fff;
  color: #000;
  display: inline;
  border: 0;
  text-decoration: none;
	display:inline
}

.img_20 {
	width: 20%;
	height: 20%;
	vertical-align:middle;
	object-fit: contain;
}

.img_logo {
	width: 3%;
	height: 3%;
	vertical-align:middle;
	object-fit: contain;
}

.title {
	font: 44px "Lucida Grande", Helvetica, Arial, sans-serif;
}


